# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/

# Environment variables
.env
.env.local
.env.production

# Metro bundler
.metro-health-check*

# macOS
.DS_Store

# Editor
*.swp
*.swo
*~
.vscode/
.idea/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo
